.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-panel {
  background-color: #ffffff;
  display: 'auto';
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: calc(5px + 1vmin);
  color: rgb(0, 0, 0);
}

.element {
  margin: 10px;
}

.Filter-panel {
  display: 'auto';
  box-sizing: border-box;
  font-size: calc(5px + 1vmin);
  color: rgb(0, 0, 0);
}

.rowC{display:flex; flex-direction:row;}